body {
    background: rgb(248, 248, 248);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
header{
    background-color: black;
    height: 80px;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  overflow: hidden;
}
.logo {
    float:left;
    font-size: 50px; 
    color: white;
    text-decoration: none;
    margin: 5px;
    font-family: cursive;
    font-weight: bold;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
  
li a {
    display: block;
    padding: 14px 16px;
}
ul li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}

  
ul li a:hover,
ul li a.active {
  color:black;
  background-color: white;
}
.main{
    max-width: 1100px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: white;
    font-size: 70px;
}
.content-items img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}



